---
import { translatePath } from '@i18n';

interface Props {
    /* Total number of pages */
    total: number
    /* Current page */
    page: number
}

const { lang } = Astro.params;
const { total, page } = Astro.props;
const l = translatePath(lang!);
---

<div class="paginator">     
    {
        Array.from({length: total-1}, (_, i) => i + 1).map(p => {
            if(p==page) {
                return <em>{p}</em>
            } else if(p == 1) {
                return <a href={l(`/blog/`)}>{p}</a>
            } else {
                return <a href={l(`/blog/page/${p}`)}>{p}</a>
            }
        })
    }
</div>

<style>
    .paginator {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .paginator a {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        border-bottom: 2px dotted #a1aabb;
    }
</style>
