---
import { translatePath } from '@i18n';

interface Props {
    /* Total number of pages */
    total: number
    /* Current page */
    page: number
}

const { lang } = Astro.params;
const { total, page } = Astro.props;
const l = translatePath(lang!);
---

<div class="page-numbers"><p>        
    {
        Array.from({length: total-1}, (_, i) => i + 1).map(p => {
            if(p==page) {
                return <em>{p}</em>
            } else if(p == 1) {
                return <a href={l('/blog/')}>{p}</a>
            } else {
                return <a href={l('/blog/page/${p}')}>{p}</a>
            }
        })
    }
</p></div>
