---
import { useTranslations } from 'src/i18n/utils';
import { type HeaderProps as Props } from '@layouts/header';

import Head from '@components/Head.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import '../styles/custom.css'

const { header } = Astro.props;
const { lang } = Astro.params;
const t = await useTranslations(lang ? lang : 'en');
---
<!doctype html>
<html lang={lang}>

    <Head {...Astro.props}/>
    
    <body>
        <div class="page-wrapper">
            <Header {...Astro.props}/>
            {header.on_body? <h1 class="text-center">{
                header.title!.includes('titles.')? t(header.title!) : header.title
            }</h1>: <></>}
            <slot />
            <Footer {...Astro.props}/>
        </div>
    </body>
</html>
