---
import { useTranslations, translatePath } from 'src/i18n/utils';
import Base from '@layouts/Base.astro';

const { lang } = Astro.params;
const { latest, tags } = Astro.props;

const t = await useTranslations(lang ? lang : 'en');
const l = translatePath(lang!);
---

<div class="site-wrap"> 
    <section class="container">
        <div class="row">
            <!-- left two-thirds block-->
            <div class="left two-thirds col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="info-block">
                    <slot />
                </div>
            </div>
            <!-- end left two-thirds block-->
            <!-- right one-third block-->
            <div class="right one-third col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar col-sm-12 col-xs-12">   
                        <div class="info-block">
                            <div class="row center-xs">
                                <div class="col"><h2>Recent Posts</h2></div>
                            </div>
                            {
                                /* @ts-ignore */
                                latest.map((post) => (
                                    <div class="row start-xs info-block-row">
                                        <div class="col">
                                             <p><a href={l('/blog/post/${post.slug}')}>{post.data.title}</a></p>
                                         </div>
                                    </div>
                                ))
                            }
                        </div>
                        <div class="info-block">
                            <div class="row center-xs">
                                <div class="col">
                                    <h2>Popular Tags</h2>
                                </div>
                            </div>
                                {
                                    /* @ts-ignore */
                                    tags.map(tag => (
                                        <div class="row start-xs">
                                            <div class="col">
                                                <p><a href={`/blog/tags/${tag}`}>#{tag}</a></p>
                                            </div>
                                        </div>
                                    ))
                                }

                        </div>
                    </div> 
            </div>
            <!-- end right one-third block-->
        </div>
    </section>
</div>
