---
import { availableLangs } from 'src/i18n/ui';
import { useTranslations } from '../../../i18n/utils';
import { getCollection } from 'astro:content';
import { chunkArray } from '@content/utils';

import Base from '@layouts/Base.astro';
import Paginator from '@components/Blog/Paginator.astro';
import PostCard from '@components/Blog/PostCard.astro';
import TagTopBar from '@components/Blog/TagTopBar.astro';

// Exporting static path for each available languages
export async function getStaticPaths() {
    
    // Collect all blog post sorted by date and make chunks of 10
    const allBlogPosts = (await getCollection('blog')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
    const chunkedBlogPosts = chunkArray(allBlogPosts, 10);
    const total = chunkedBlogPosts.length;
    
    return Object.keys(availableLangs).map(lang => {
        return { params: { lang }, props: { posts: chunkedBlogPosts[0], total } };
    }).flat(1);
}

const { lang } = Astro.params;
const { posts, total } = Astro.props;
const t = await useTranslations(lang);
---

<Base header={{ 
    title: "titles.blogbytag", 
    on_body: true
    // meta_descr: "meta_descr.blog" 
}}>
    
    <!-- Post categories selection bar -->
    <TagTopBar />
    
    <!-- List of posts -->
    <div class="site-wrap">
        <section class="container full">
            <div class="row">
                <!-- Full block -->
                <div class="info-block">
                    <div class="feed">
                        <a href="/feed.xml" aria-label="Feed logo"><span class="feed-pic"></span></a>
                        <h2>{t('blog.allposts')}</h2>
                    </div>
                    <!-- List of posts --->
                    {posts.map((post) => (
                        <PostCard {...post}></PostCard>
                    ))}
                </div>
            </div>
            
            <!-- Paginator -->
            <Paginator page={1} total={total}/>
            
        </section>
        <a href="#" class="arrow-up" aria-label={t('accessibility.arrowup')} title={t('accessibility.gotop')}><i></i></a>
    </div>

</Base>
